.pricing {
  background: $lilpur;
  padding: 70px 0 70px 0;
  margin-top: 70px;
  .master-card {
    padding: 30px;
    border-radius: 22px;
    .btn {
      width: 100%;
      margin-top: 20px;
    }
    .item-benefit {
      margin-bottom: 20px;
      img {
        float: left;
        margin-right: 8px;
      }
      p {
        font-size: 16px;
        font-weight: map-get($font-weights, medium);
      }
    }
    .name {
      font-size: 18px;
      font-weight: map-get($font-weights, medium);
    }
    .price {
      font-size: 36px;
      font-weight: map-get($font-weights, semibold);
      margin-top: 16px;
      margin-bottom: 16px;
    }
    .support {
      font-size: 16px;
      font-weight: map-get($font-weights, regular);
      margin-bottom: 40px;
    }
  }
  .basic-card {
    @extend .master-card;
    background: $white;
    .name {
      color: $navy;
    }
    .price {
      color: $navy;
    }
    .support {
      color: $newpur;
    }
    .item-benefit {
      p {
        color: $navy;
      }
    }
  }
  .most-card {
    @extend .master-card;
    background: $purple;
    .btn-primary {
      background: $aqua;
    }
    .name {
      color: $white;
    }
    .price {
      color: $white;
    }
    .support {
      color: $lightpurple;
    }
    .item-benefit {
      p {
        color: $white;
      }
    }
  }
}
