@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navbar-tp {
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-tp .navbar-nav li {
  padding-left: 50px;
}

.navbar-tp .navbar-nav .active {
  color: #563ad6 !important;
  font-weight: 500;
}

.navbar-tp .navbar-nav .nav-link {
  color: #02044a;
}

.navbar-tp .dropdown-menu.show {
  -webkit-animation: fadeIn 0.3s alternate;
  /* Safari 4.0 - 8.0 */
  animation: fadeIn 0.3s alternate;
}

.navbar-tp .navbar-toggler {
  border: none;
  padding: 0;
  outline: none;
}

.navbar-tp .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-tp .navbar-toggler .hamburger-toggle {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  z-index: 11;
  float: right;
}

.navbar-tp .navbar-toggler .hamburger-toggle .hamburger {
  position: absolute;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
  left: 50%;
  top: 50%;
  width: 50%;
  height: 50%;
  pointer-events: none;
}

.navbar-tp .navbar-toggler .hamburger-toggle .hamburger span {
  width: 100%;
  height: 4px;
  position: absolute;
  background: #563ad6;
  border-radius: 2px;
  z-index: 1;
  -webkit-transition: background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), all 0.2s ease-in-out, -webkit-transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), all 0.2s ease-in-out, -webkit-transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), all 0.2s ease-in-out;
  transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), all 0.2s ease-in-out, -webkit-transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
  left: 0px;
}

.navbar-tp .navbar-toggler .hamburger-toggle .hamburger span:first-child {
  top: 10%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: translate(0% -50%) !important;
          transform: translate(0% -50%) !important;
}

.navbar-tp .navbar-toggler .hamburger-toggle .hamburger span:nth-child(2) {
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.navbar-tp .navbar-toggler .hamburger-toggle .hamburger span:last-child {
  left: 0px;
  top: auto;
  bottom: 10%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.navbar-tp .navbar-toggler .hamburger-toggle .hamburger.active span {
  position: absolute;
  margin: 0;
}

.navbar-tp .navbar-toggler .hamburger-toggle .hamburger.active span:first-child {
  top: 45%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navbar-tp .navbar-toggler .hamburger-toggle .hamburger.active span:nth-child(2) {
  left: 50%;
  width: 0px;
}

.navbar-tp .navbar-toggler .hamburger-toggle .hamburger.active span:last-child {
  top: 45%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navbar-tp .icons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: auto;
}

.navbar-tp .icons a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 0.2rem 0.4rem;
  color: #ccc !important;
  text-decoration: none;
}

.navbar-tp .icons a:hover {
  color: #ffffff;
  text-shadow: 0 0 30px #ffffff;
}

.navbar-fixed-top.scrolled {
  background-color: #ffffff;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.btn-master, .btn-primary, .btn-secondary {
  padding: 15px 26px 15px 26px;
  border-radius: 10px;
  font-weight: 600;
  border: 0;
}

.btn-primary {
  color: #ffffff;
  background: #563ad6;
}

.btn-primary:hover {
  background: #412ca1;
}

.btn-primary:active, .btn-primary:focus {
  background: #412ca1;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(64, 43, 156, 0.404) !important;
  box-shadow: 0 0 0 0.2rem rgba(64, 43, 156, 0.404) !important;
}

.btn-secondary {
  color: #777790;
  background: #eaeaf4;
}

.btn-secondary:hover {
  background: #b4b5c9;
}

.btn-secondary:active, .btn-secondary:focus {
  background: #b4b5c9;
}

.sales {
  padding-top: 100px;
}

.sales .copywriting {
  padding-left: 80px;
}

.sales .brands {
  margin-top: 70px;
  text-align: center;
}

.sales .brands .owl-carousel .owl-item img {
  display: inline-block;
  width: 115px;
}

.pricing {
  background: #f9f9fb;
  padding: 70px 0 70px 0;
  margin-top: 70px;
}

.pricing .master-card, .pricing .basic-card, .pricing .most-card {
  padding: 30px;
  border-radius: 22px;
}

.pricing .master-card .btn, .pricing .basic-card .btn, .pricing .most-card .btn {
  width: 100%;
  margin-top: 20px;
}

.pricing .master-card .item-benefit, .pricing .basic-card .item-benefit, .pricing .most-card .item-benefit {
  margin-bottom: 20px;
}

.pricing .master-card .item-benefit img, .pricing .basic-card .item-benefit img, .pricing .most-card .item-benefit img {
  float: left;
  margin-right: 8px;
}

.pricing .master-card .item-benefit p, .pricing .basic-card .item-benefit p, .pricing .most-card .item-benefit p {
  font-size: 16px;
  font-weight: 500;
}

.pricing .master-card .name, .pricing .basic-card .name, .pricing .most-card .name {
  font-size: 18px;
  font-weight: 500;
}

.pricing .master-card .price, .pricing .basic-card .price, .pricing .most-card .price {
  font-size: 36px;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 16px;
}

.pricing .master-card .support, .pricing .basic-card .support, .pricing .most-card .support {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
}

.pricing .basic-card {
  background: #ffffff;
}

.pricing .basic-card .name {
  color: #02044a;
}

.pricing .basic-card .price {
  color: #02044a;
}

.pricing .basic-card .support {
  color: #9b9cb7;
}

.pricing .basic-card .item-benefit p {
  color: #02044a;
}

.pricing .most-card {
  background: #563ad6;
}

.pricing .most-card .btn-primary {
  background: #3abad6;
}

.pricing .most-card .name {
  color: #ffffff;
}

.pricing .most-card .price {
  color: #ffffff;
}

.pricing .most-card .support {
  color: #b19fff;
}

.pricing .most-card .item-benefit p {
  color: #ffffff;
}

body {
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body ::-moz-selection {
  background: #563ad6;
  color: #ffffff;
}

body ::selection {
  background: #563ad6;
  color: #ffffff;
}

body ::-moz-selection {
  background: #563ad6;
  color: #ffffff;
}

.header {
  font-weight: 600;
  color: #02044a;
  font-size: 46px;
  line-height: 60px;
  margin-top: 100px;
}

.description {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 30px;
  color: #9b9cb7;
  font-weight: 400;
}
/*# sourceMappingURL=main.css.map */