@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");
.navbar-tp {
  padding-top: 30px;
}

.navbar-tp .navbar-nav li {
  padding-left: 50px;
}

.navbar-tp .navbar-nav .active {
  color: #563ad6 !important;
  font-weight: 500;
}

.navbar-tp .navbar-nav .nav-link {
  color: #02044a;
}

.navbar-fixed-top.scrolled {
  background-color: #ffffff;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.btn-master, .btn-primary, .btn-secondary {
  padding: 15px 26px 15px 26px;
  border-radius: 10px;
  font-weight: 600;
  border: 0;
}

.btn-primary {
  color: #ffffff;
  background: #563ad6;
}

.btn-primary:hover {
  background: #412ca1;
}

.btn-primary:active, .btn-primary:focus {
  background: #412ca1;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(64, 43, 156, 0.404) !important;
  box-shadow: 0 0 0 0.2rem rgba(64, 43, 156, 0.404) !important;
}

.btn-secondary {
  color: #777790;
  background: #eaeaf4;
}

.btn-secondary:hover {
  background: #b4b5c9;
}

.btn-secondary:active, .btn-secondary:focus {
  background: #b4b5c9;
}

.sales {
  padding-top: 100px;
}

.sales .copywriting {
  padding-left: 80px;
}

.sales .brands {
  margin-top: 70px;
  text-align: center;
}

.sales .brands .owl-carousel .owl-item img {
  display: inline-block;
  width: 115px;
}

.pricing {
  background: #f9f9fb;
  padding: 70px 0 70px 0;
  margin-top: 70px;
}

.pricing .master-card, .pricing .basic-card, .pricing .most-card {
  padding: 30px;
  border-radius: 22px;
}

.pricing .master-card .btn, .pricing .basic-card .btn, .pricing .most-card .btn {
  width: 100%;
  margin-top: 20px;
}

.pricing .master-card .item-benefit, .pricing .basic-card .item-benefit, .pricing .most-card .item-benefit {
  margin-bottom: 20px;
}

.pricing .master-card .item-benefit img, .pricing .basic-card .item-benefit img, .pricing .most-card .item-benefit img {
  float: left;
  margin-right: 8px;
}

.pricing .master-card .item-benefit p, .pricing .basic-card .item-benefit p, .pricing .most-card .item-benefit p {
  font-size: 16px;
  font-weight: 500;
}

.pricing .master-card .name, .pricing .basic-card .name, .pricing .most-card .name {
  font-size: 18px;
  font-weight: 500;
}

.pricing .master-card .price, .pricing .basic-card .price, .pricing .most-card .price {
  font-size: 36px;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 16px;
}

.pricing .master-card .support, .pricing .basic-card .support, .pricing .most-card .support {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
}

.pricing .basic-card {
  background: #ffffff;
}

.pricing .basic-card .name {
  color: #02044a;
}

.pricing .basic-card .price {
  color: #02044a;
}

.pricing .basic-card .support {
  color: #9b9cb7;
}

.pricing .basic-card .item-benefit p {
  color: #02044a;
}

.pricing .most-card {
  background: #563ad6;
}

.pricing .most-card .btn-primary {
  background: #3abad6;
}

.pricing .most-card .name {
  color: #ffffff;
}

.pricing .most-card .price {
  color: #ffffff;
}

.pricing .most-card .support {
  color: #b19fff;
}

.pricing .most-card .item-benefit p {
  color: #ffffff;
}

body {
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body ::-moz-selection {
  background: #563ad6;
  color: #ffffff;
}

body ::selection {
  background: #563ad6;
  color: #ffffff;
}

body ::-moz-selection {
  background: #563ad6;
  color: #ffffff;
}

.header {
  font-weight: 600;
  color: #02044a;
  font-size: 46px;
  line-height: 60px;
  margin-top: 100px;
}

.description {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 30px;
  color: #9b9cb7;
  font-weight: 400;
}
/*# sourceMappingURL=main.css.map */